input[type=checkbox].css-checkbox {
							display:none;
						}

						input[type=checkbox].css-checkbox + label.cbcss-label {
							padding-left:40px;
							height:38px; 
							display:block;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:1em;
							vertical-align:middle;
							cursor:pointer;
						}

						input[type=checkbox].css-checkbox:checked + label.cbcss-label {
							background-position: 0 -38px;
						}
						label.cbcss-label {
							padding-left: 40px;
							
							padding-bottom: 0;
							margin-bottom: 15px;
				background-image:url(checkbox.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
			
				input[type=radio].css-checkbox {
											display:none;
										}

										input[type=radio].css-checkbox + label.rbcss-label {
											padding-left:40px;
											height:40px; 
											display:block;
											background-repeat:no-repeat;
											background-position: 0 0;
											font-size:1em;
											vertical-align:middle;
											cursor:pointer;

										}

										input[type=radio].css-checkbox:checked + label.rbcss-label {
											background-position: 0 -40px;
										}
										label.rbcss-label {
											padding-left: 40px;
										
											margin-bottom: 15px;
								background-image:url(radioButton.png);
								-webkit-touch-callout: none;
								-webkit-user-select: none;
								-khtml-user-select: none;
								-moz-user-select: none;
								-ms-user-select: none;
								user-select: none;
							}
							
							#formElements{
								overflow: visible;
								text-align:center;
								width:100%;
								margin: 0 auto;
							}
							
							.chart-legend{
								min-height:20px;
								overflow: hidden;
								margin-bottom:25px;
							}
								.chart-legend ul {
									overflow: hidden;
								    list-style: none;
								    width: 100%;
								    margin: 0 auto;
								}
								.chart-legend li {
								   display: block;
								}
						
							
							
							@media screen and (min-width: 580px){
								
								input[type=radio].css-checkbox + label.rbcss-label {
								font-size:1.4em;	
								}
								input[type=checkbox].css-checkbox + label.cbcss-label {
								font-size:1.4em;										
								}
								
									#formElements{										
										width:60%;
										overflow: hidden;
										margin: 0 auto;
									}
									
									.chart-legend ul {
										overflow: hidden;
									    list-style: none;
									    width: 60%;
									    
									}
									.chart-legend li {
									   
									    line-height: 36px;
									    position: relative;
									    font-weight: 200;
									    display: block;
									    float: left;
									    overflow: hidden;
									    min-width: 50%;
									    font-size: 1em;
									}
								
							}	
							
										